@import '../../themes/variables.scss';

$have-month-background: hsl(101, 38%, 63%);
$have-month-titles: hsl(101, 50%, 30%);

$need-month-background: hsl(0, 66%, 64%);
$need-month-titles: hsl(0, 50%, 30%);

$need-year-background: hsl(31, 89%, 69%);
$need-year-titles: hsl(31, 50%, 30%);

$want-background: hsl(212, 63%, 81%);
$want-titles: hsl(212, 50%, 30%);

$goals-background: hsl(257, 36%, 75%);
$goals-titles: hsl(257, 50%, 30%);

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    
    @include ipad-view { 
        width: 85%;
    }

    @include desktop-view {
        width: 100%;
        padding: 0 3rem;
        flex-direction: row;
    }
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;

    & > h1, h2 {
        &::before { color: $text-secondary-color; }
        &::after { color: $text-secondary-color; }
    }

    & > .content {
        height: 100%;
        line-height: 1.7;

        @include phone-view { margin: 2rem 1rem; }
        @include ipad-view { margin: 2rem 10rem; }
        @include desktop-view { margin: 2rem; }

        & .emoji {
            margin-right: 0.5rem;
        }

        & .content-one-column-row:hover, .content-two-columns:hover {
            background-color: $background-transparent-color;
        }
    }
}