/* VARIABLES FOR COLORS */
/* FONT-SIZE MOBILE */
/* FONT-SIZE DESKTOP */
button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: inherit;
  border: 0.2rem dashed rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  button:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  button.rectangular {
    align-items: baseline;
    margin: 0.3rem;
    padding: 0.7rem; }
  button.circular {
    align-items: center;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 1.5rem; }
    @media (max-width: 44em) {
      button.circular {
        width: 1.5rem;
        height: 1.5rem;
        padding: 2rem; } }
