/* VARIABLES FOR COLORS */
/* FONT-SIZE MOBILE */
/* FONT-SIZE DESKTOP */
section.add-items-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  section.add-items-container > form.add-items-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem; }
    section.add-items-container > form.add-items-form > .add-items-form-inputs {
      display: flex;
      flex-flow: column;
      gap: 0.3rem;
      color: white;
      font-weight: bold; }
      section.add-items-container > form.add-items-form > .add-items-form-inputs * label {
        margin-right: 0.5rem; }
  section.add-items-container > button.submit-button {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1); }
