@import '../../../../themes/variables.scss';
@import '../../index.scss';

article {
    &.need-month {
        background-color: $need-month-background;
    
        & * h2, * h3, .add-items { color: $need-month-titles; }
    }

    &.need-year {
        background-color: $need-year-background;

        & * h2, * h3, .add-items { color: $need-year-titles; }
    }

    &.want {
        background-color: $want-background;

        & * h2, * h3, .add-items { color: $want-titles; }
    }

    &.goals {
        background-color: $goals-background;

        & * h2, * h3, .add-items { color: $goals-titles; }
    }
}