@import '../../themes/variables.scss';

header.main-header {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;

    @include ipad-view { flex-direction: row; }

    & > h1 {  
        color: $text-secondary-color;
            
        &::before { color: hsl(55, 100%, 70%); }
        &::after { color: hsl(55, 100%, 70%); }
    }
    
    & > .budgie {
        width: 100%;

        @include ipad-view { width: 13rem; }
    }

    & :last-child {
        display: none;
        transform: scaleX(-1);

        @include ipad-view { display: block; }
    }
}