/* VARIABLES FOR COLORS */
/* FONT-SIZE MOBILE */
/* FONT-SIZE DESKTOP */
footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
  background: #94c57d;
  background: linear-gradient(
    90deg,
    #94c57d 0%,
    #e06767 25%,
    #f6b26a 50%,
    #b0ceed 75%,
    #b5a8d6 100%
  );
}
footer > p {
  color: black;
  font-weight: bold;
}
