@import '../../../../themes/variables.scss';
@import '../../index.scss';

section.pop-up-full-screen {
    width: 100vw; 
    height: 100vh;

    position: fixed;
    top: 0; 
    left: 0;

    display: flex; 
    justify-content: center; 
    align-items: center;

    backdrop-filter: blur(1rem);
    background-color: hsla(0, 0%, 100%, 0.5);

    opacity: 0;
    visibility: hidden;

    &.pop-up-open {
        opacity: 1;
        visibility: visible;
    }
    
    & > .pop-up-container {
        max-height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1rem solid $background-transparent-color;
        padding: 2rem 0;

        &.have-month-colors { 
            background-color: $have-month-background; 
            & * h2 { color:  $have-month-titles; }
        }

        &.need-month-colors { 
            background-color: $need-month-background; 
            & * h2 { color:  $need-month-titles; }
        }

        &.need-year-colors { 
            background-color: $need-year-background; 
            & * h2 { color:  $need-year-titles; }
        }

        &.want-colors { 
            background-color: $want-background; 
            & * h2 { color:  $want-titles; }
        }

        &.goals-colors { 
            background-color: $goals-background; 
            & * h2 { color:  $goals-titles; }
        }
        
        @include phone-view { width: 85%; }
        @include ipad-view { width: 65%; }
        @include desktop-view { width: 40%; }

        & > header.pop-up-header {
            width: 100%;
            display: flex;
            align-items: center;

            @include phone-view { flex-direction: column; }

            & > h2.pop-up-title {
                text-align-last: start;
                margin-left: 3rem;
                flex-grow: 1;
                text-transform: uppercase;

                &::before, &::after { content: none !important; }

                @include phone-view {
                    text-align-last: center;
                    margin: 0 auto;
                    padding: 2rem 1rem 0.5rem 1rem;
                }
            }

            & > button.close {
                margin-right: 3rem; 
                
                @include phone-view {
                    margin-right: 0; 
                    order: -1; 
                }
            }
        }

        & > article.note-container {
            @include styled-scrollbar;
            
            margin-bottom: 1rem;
            padding: 0 1rem;
            text-align: left;
            overflow: auto;

            @include phone-view {
                padding: 0rem;
            }

            & > ul {
                margin: 0;
            }

            & * p, * h2, h3, h4 {
                margin: 1rem !important;
            }

            & * a {
                color: $text-transparent-color !important;
            }

            & > .no-note {
                color: $text-transparent-color;
                font-size: $h2-desktop;
                margin: 1.5rem 0 1rem 0;
                text-align: center;
            }
        }
    }
}