/* VARIABLES FOR COLORS */
/* FONT-SIZE MOBILE */
/* FONT-SIZE DESKTOP */
/* VARIABLES FOR COLORS */
/* FONT-SIZE MOBILE */
/* FONT-SIZE DESKTOP */
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto; }
  @media (min-width: 45em) {
    section {
      width: 85%; } }
  @media (min-width: 77em) {
    section {
      width: 100%;
      padding: 0 3rem;
      flex-direction: row; } }

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0; }
  article > h1::before, article h2::before {
    color: white; }
  article > h1::after, article h2::after {
    color: white; }
  article > .content {
    line-height: 1.7; }
    @media (max-width: 44em) {
      article > .content {
        margin: 2rem 1rem; } }
    @media (min-width: 45em) {
      article > .content {
        margin: 2rem 10rem; } }
    @media (min-width: 77em) {
      article > .content {
        margin: 2rem; } }
    article > .content .emoji {
      margin-right: 0.5rem; }
    article > .content .content-one-column-row:hover, article > .content .content-two-columns:hover {
      background-color: rgba(0, 0, 0, 0.1); }

article.have-month {
  background-color: #94c57d; }
  article.have-month * h2, article.have-month * h3 {
    color: #3e7326; }
  article.have-month > .content * .name {
    font-weight: bold; }
  article.have-month > .content * .wage {
    padding-right: 2rem;
    text-align: right; }
    article.have-month > .content * .wage::after {
      content: ' czk';
      font-size: 1.2rem; }
    @media (max-width: 44em) {
      article.have-month > .content * .wage {
        padding: 0; } }
  @media (max-width: 44em) {
    article.have-month > .content * .name, article.have-month > .content .wage {
      min-width: 30%; } }
  @media (min-width: 45em) {
    article.have-month > .content * .name, article.have-month > .content .wage {
      min-width: 20%; } }
  @media (min-width: 77em) {
    article.have-month > .content * .name, article.have-month > .content .wage {
      min-width: 50%; } }
