@import '../../themes/variables.scss';

nav.header-nav {
    display: flex;
    padding: 1rem 3rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: rgb(148,197,125);
    // TODO: Make this gradient global!
    background: linear-gradient(90deg, 
        hsl(101, 38%, 63%) 0%, 
        hsl(0, 66%, 64%) 25%, 
        hsl(31, 89%, 69%) 50%, 
        hsl(211, 63%, 81%) 75%, 
        hsl(257, 36%, 75%) 100%);

    @include phone-view {
        flex-direction: column-reverse;
        justify-content: center;
    }

    & * .user-name {
        color: hsl(0, 0%, 100%);
    }
    
    & > button {
        font-weight: bold;
        text-transform: uppercase;

        &::before {
            content: '🗝️';
            padding: 0 1rem;
        }

        &::after {
            content: '🗝️';
            padding: 0 1rem;
        }
    }
}