@import '../../../../themes/variables.scss';

.button-container {
    & > h2 {
        margin: 2rem 1rem 0 1rem;
    }

    & > .button-list {
        display: flex;
        flex-flow: row wrap;
        padding: 0.5rem;
        justify-content: center;
    }
}